 {
  font-family: AppleSDGothicNeoR00;
  font-size: 24px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #359bef;
}

.title {
  font-family: Showcard Gothic;
  font-size: 48px;
  color: white;
  margin-top: 212px;
  margin-bottom: 51px;
}

.setting {
  /* border: 5px soli red; */
  margin: 0 auto;
  max-width: 524px;
  max-height: 183px;
}
p {
  margin-bottom: 13px;
  /* display: inline-block; */
  text-align: left;
  font-size: 20px;
}
.child {
  border-radius: 5px;
  /* display: inline-block; */
  height: 86px;
  background-color: white;
  float: left;
  padding: 30px 0px 30px 24px;
}
.left-setting {
  width: 300px;
  margin-right: 10px;
}
.right-setting {
  width: 166px;
  overflow: scroll;
}
.start {
  margin: 0 auto;
  margin-top: 172px;
  text-align: right;
  max-width: 524px;
  max-height: 183px;
}
.start a {
  font-family: Showcard Gothic;
  border: none;
  color: #fddf00;
  background-color: inherit;
  font-size: 32px;
}
.button {
  border: none;
  background-color: inherit;
  font-size: 24px;
}
#explaination2 {
  text-align: left;
  font-size: 20px;
  color: #9e9d9d;
  float: left;
  visibility: hidden;
  padding-bottom: 9px;
  border: 0;
  width: 275px;
  border-bottom: 2px solid #359bef;
}
