* {
  font-family: AppleSDGothicNeoR00;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}
.block {
  display: inline-block;
  vertical-align: top;
}
.screen {
  background-color: white;
  width: 63%;
  height: 100vh;
}

#avatar-container {
  text-align: center;
  padding: 37px;
}
#name {
  font-family: Showcard Gothic;
  font-size: 32px;
  color: #d95a00;
  margin-top: 27px;
}

.chatbox {
  background-color: #359bef;
  width: 35%;
  height: 100vh;
}

#agent {
  font-family: Showcard Gothic;
  font-size: 22px;
  color: #e6e6e6;
  display: flex;
  align-items: center;
}
.question {
  max-width: 100%;
  width: max-content;
}
.question p {
  text-align: left;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 15px;
  margin-top: 8px;
}

#user {
  font-family: Showcard Gothic;
  font-size: 22px;
  text-align: right;
  margin-right: 15px;
  margin-top: 20px;
  color: #fddf00;
}
#answer {
  float: right;
  max-width: 100%;
  width: max-content;
}
#answer p {
  text-align: right;
  background-color: #fddf00;
  border-radius: 10px;
  padding: 15px;
  margin-top: 8px;
}
#mic-container {
  text-align: center;
  margin: 0 auto;
  position: fixed;
  bottom: 25px;
  width: 37%;
}
button {
  background: transparent;
  border: inherit;
}
.fas {
  font-size: 56px;
  color: white;
}
#logo-container {
  height: 27%;
  text-align: center;
}
#logo {
  color: #fddf00;
  font-family: Showcard Gothic;
  position: absolute;
  left: 40px;
  top: 40px;
}
#hint {
  display: inline-block;
  height: 100%;
}
#hint img {
  height: 100%;
}

#end {
  text-align: center;
  font-family: Showcard Gothic;
}

.end {
  display: inline-block;
  font-family: Showcard Gothic;
  border: none;
  color: #fddf00;
  background-color: inherit;
  font-size: 32px;
}

.buttons-container {
  text-align: center;
  justify-content: center;
}
