*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}
.block {
    display: inline-block;
    vertical-align: top;
}
.screen {
    background-color: white;
    width: 63%;
    height: 100vh;
}
.chatbox {
    background-color: #359BEF;
    width: 37%;
    height: 100vh;
}

#agent {
    font-family: Showcard Gothic;
    font-size: 22px;
    text-align: left;
    margin-left: 15px;
    color: #E6E6E6;
}
.question {
    max-width: 100%;
    width: max-content;
}
.question p {
    text-align: left;
    background-color: #E6E6E6;
    border-radius: 10px;
    padding: 15px;
    margin-top: 8px;
}

#user {
    font-family: Showcard Gothic;
    font-size: 22px;
    text-align: right;
    margin-right: 15px;
    margin-top: 20px;
    color: #FDDF00;
}
#answer {
    float: right;
    max-width: 100%;
    width: max-content;
}
#answer p{
    text-align: right;
    background-color: #FDDF00;
    border-radius: 10px;
    padding: 15px;
    margin-top: 8px;
}
#mic-container {
    text-align: center;
    margin: 0 auto;
    position: fixed;
    bottom: 25px;
    width: 37%;
}
button {
    background: transparent;
    border: inherit;
}
.fas {
    font-size: 56px;
    color: white;
}
#logo-container{
    height: 27%;
    text-align: center;
}
#logo {
    color: #FDDF00; 
    font-family: Showcard Gothic; 
    position: absolute;
    left: 40px;
    top: 40px;
}
#hint {
    display: inline-block;
    height: 100%;
}
#hint img{
    height: 100%;
}