body {
  background-color: #359BEF;
}

*{
  color: white;
  text-align: center;
}

.title {
  font-size: 64px;
  font-family: Showcard Gothic;
  color: white;
  margin-top: 305px;
}

.start {
  font-family: Showcard Gothic;
  border: none;
  color: #FDDF00;
  background-color: inherit;
  font-size: 32px;
}