.fas {
    padding: 10px;
    border-radius: 45%;
}
.fa-microphone {
    animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 7px 0px #359bef;
	}
	65%{
		box-shadow: 0px 0px 7px 5px #359bef;
	}
	90%{
		box-shadow: 0px 0px 7px 5px #359bef;
	}
}