<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style/2.css" />
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    <div class="title">Io sono Io</div>
    <div class="setting">
      <p style="color: white; font-size: 24px;">Game Setting</p>
      <div class="child left-setting">
        <p>
          Add a member<input
            id="plus"
            type="button"
            value=" +"
            class="button"
          />
        </p>
        <p id="explaination" style="font-size: 15px; color: #9E9D9D;">
          Add the names of the members<br />who participate in the game.
        </p>
        <input id="explaination2" type="text" value="Enter the name" />
      </div>
      <div class="child right-setting">
        <p id="members">Members</p>
      </div>
    </div>
    <div class="start">
      <form
        method="POST"
        action="/game/<%=id%>/addmembers"
        class="addMembersForm"
      >
        <input
          type="submit"
          style="text-decoration: none;"
          class="button"
          value="GameStart"
        />
      </form>
    </div>
    <script src="../js/2.js"></script>
  </body>
</html>
