<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style/home.css" />
  </head>
  <body>
    <div class="title">
      <p>Io sono Io</p>
    </div>

    <div>
      <form method="GET" action="/newgame">
        <button class="start">Start!</button>
      </form>
    </div>
  </body>
</html>
