<html>
    <body>
        <div id="lines" style="height: 100px; overflow: auto;">
            <p>blue</p>
            <p>pink</p>
            <p>pink</p>    
            <p>pink</p>    
            <p>pink</p>    
            <p>pink</p>    
            <p>pink</p>    
            <p>pink</p>    
            <p>pink</p>    
        </div>
        <div class="end_form" style="text-align: center;">
            <form class="end_form" method="POST" action="/game/<%=id%>/endgame">
                <input type="submit" value="end">
            </form>
        </div>
        <script src="/public/js/history.js"></script>
    </body>
</html>