<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style/home.css" />
    <script src="js/home.js"></script>
  </head>
  <body>
    <div class="title">
      <p>Io sono Io</p>
    </div>
    <div class="start">
      <a href="/views2/2.html" style="text-decoration: none;" class="button">Start!</a>
      <!-- <button onclick="write()">Start</button> -->
    </div>
  </body>

  <div>
    <form method="GET" action="/newgame">
      <button>Newgame</button>
    </form>
  </div>

  <div class="ahah">
    <iframe
      src="http://www.staggeringbeauty.com/"
      style="border: 1px inset #ddd"
      width="498"
      height="598"
    ></iframe>
  </div>
</html>
