<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style/home.css" />
    <script src="js/home.js"></script>
  </head>

  <body>
    <div class="title">
      <p>Io sono Io</p>
    </div>
    <div class="start">
        <a href="./home.ejs" style="text-decoration: none;" class="button">Start!</a>
      <!-- <button onclick="write()">Start</button> -->
    </div>
  </body>
</html>
