<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style/home.css" />
    <script src="js/home.js"></script>
  </head>

  <body>
    <div class="title">
      <h1>Io sono Io</h1>
    </div>
    <div class="start">
      <button onclick="write()">Start</button>
    </div>
  </body>
</html>
